body {
                font: 16px sans-serif;
            }
            .axis path, .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
            .x.axis path {
                display: none;
            }
            
            #tooltip1a {
                position: absolute;
                width: 200px;
                height: auto;
                padding: 10px;
                background-color: white;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                pointer-events: none;  
            }
            #tooltip1a.hidden1a {
                display: none;
            }
            #tooltip1a p {
                margin: 0;
                font-family: sans-serif;
                font-size: 16px;
                line-height: 20px;
                font-weight: bold;
            }
            .resize path {
              fill: #666;
              fill-opacity: .8;
              stroke: #000;
              stroke-width: 1.5px;
            }
            .brush .extent {
              fill-opacity: .125;
              shape-rendering: crispEdges;
            }
            .SliderAxis {
              font: 10px sans-serif;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }

            .SliderAxis .domain {
              fill: none;
              stroke: #000;
              stroke-opacity: .3;
              stroke-width: 10px;
              stroke-linecap: round;
            }

            .SliderAxis .halo {
              fill: none;
              stroke: #ddd;
              stroke-width: 8px;
              stroke-linecap: round;
            }

            .slider .handle {
              fill: #fff;
              stroke: #000;
              stroke-opacity: .5;
              stroke-width: 1.25px;
              cursor: crosshair;
            }